* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000022;
}
.container {
    height: 100%;
    width: 1170px;
}


/*Menu*/


.menu-bar {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
}
.container {
    height: 100%;
    width: 1170px;
}
.menu-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    height: 100%;
    width: 700px;
    
}
ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu-link {
    color: #FAFAFA;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
}
li {
    list-style-type: none;
}
.menu-li::before {
    content: '';
    width: 0%;
    bottom: -2.5px;
    left: 0;
    height: 2.3px;
    background-color: #FAFAFA;
    position: absolute;
    transition: .2s linear;
    
}
.menu-li {
    position: relative;
}
.menu-li:hover:before {
    width: 100%;
}
li.active{
    border-bottom: 2.3px #FAFAFA solid;
    margin-top: 2.3px;
}





/*Desktop*/



.desktop {
    width: 100%;
    height: 100vh;
    background-image: url(lamp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f9f9ff;
    font-family: 'Roboto', sans-serif;
}
.desktop h1 {
    font-weight: 700;
    font-size: 55px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.desktop p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 80px;
}



/*About faraday*/


.About {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Faraday-photo {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.Faraday-portret {
    height: 90%;
    width: auto;
    
}
.Faraday-text {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.about-faraday {
    display: flex;
    align-items: center;
}
.about-faraday-text-section {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.about-faraday-text-section h3 {
    font-weight: 700; 
    font-size: 45px;
    text-transform: uppercase;
    color: #f9f9ff;
}
.about-faraday-text-section p {
    font-weight: 400;
    font-size: 16px;
    padding-top: 50px;
    color: #c4ccdc;
    line-height: 1.5;
}



/*Faradays Disk*/



.Experiment-disk {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.Experiment-photo-disk {
    height: 100%;  
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.faraday-disk {
    height: 85%;
    width: auto;
}
.Experiment-photo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    text-align: ;
}
.disk {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.experiment-disk-text-section {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.experiment-disk-text-section h3 {
    font-weight: 700;
    font-size: 45px;
    text-transform: uppercase;
    color: #f9f9ff;
}
.experiment-disk-text-section p {
    font-weight: 400;
    font-size: 16px;
    padding-top: 50px;
    color: #c4ccdc;
    line-height: 1.5;
}






/*facts*/




.Facts {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.facts-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fact {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #06063d;
    height: 50%;
    width: 33.3%;
    position: relative;
    border-radius: 5px;
}
.second-fact {
    margin-left: 70px;
}
.third-fact {
    margin-left: 70px
}
.text-fact {
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.text-fact h3 {
    text-transform: uppercase;
    color: #f9f9ff;
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    line-height: 1.5;
}
.text-fact  p {
    color: #c4ccdc;
    line-height: 1.5;
    font-weight: 400;
    font-size: 15px;
}
.fact-photo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: .6s ease;
}
.fact-photo img {
    width: 100%;
    height: auto;
}
.second-photo img {
    margin-top: 10px;
}
.third-photo img {
    margin-top: 60px;
}
.fact:hover .fact-photo {
    height: 100%;
}






/*fantasy*/




.fantasy {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.fantasy img {
    height: 100%;
    width: auto;
}
.fantasy-text {
    position: absolute;
    height: 400px;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: #06063d;
    border-radius: 20px;
    margin-top: 130px;
    padding: 60px;
}
.fantasy-text h3 { 
    font-weight: 700;
    font-size: 39px;
    text-transform: uppercase;
    color: #f9f9ff;
    text-align: center;
}
.fantasy-text p {
    font-weight: 400;
    font-size: 13px;
    padding-top: 40px;
    color: #c4ccdc;
    line-height: 1.5;
    text-align: justify;
    text-align-last: center;
}







/*deduction*/




.deduction {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.deduction img{
    height: 100%;
    width: auto;
}





/*footer*/





.footer {
    height: 160px;
    width: 100%;
    background-color: rgba(52,132,227,1); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FAFAFA;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.section:nth-child(6) {
    background-color: rgba(56,133,224,1); 
}
.section:nth-child(7) {
    background-color: rgba(52,132,227,1); 
}
.contact-icons {
    height: 30px;
    width: 130px;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.icon {
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon img {
    height: 100%;
    width: auto;
}
.icon a {
    position: relative;
}
.icon a::before {
    content: '';
    width: 0px;
    bottom: -6px;
    left: 0;
    height: 2.3px;
    background-color: #FAFAFA;
    position: absolute;
    transition: .2s linear;
    opacity: 0;
}
.icon a:hover:before {
    width: 100%;
    opacity: 1;
}













